/*
  Desculpem nunca estudei páginas web faço apenas porque gosto
*/
*{
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'sans-serif';
}

body{
	height: 100vh;
	width: 100%;
	position: relative;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

header{
	height: 88px;
	width: 100%;
	padding: 0 1rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #121212;
	box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
	z-index: 12;
}
.logo{
	height: 50%;
	width: 40%;
}
.logo:hover{
	background-image: url(../img/logo2.png);
	transition: 3s ease;
}
.image{
  padding-top: 40px;
  text-align: center;
}
#image{
  height: 10%;
  width: 25%;
  border-radius: 100%;
}

ul{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	list-style: none;
}
ul .menu-item {
	color: white;
}

.menu-item{
	font-size: 18px;
	margin-left: 2rem;
	cursor: pointer;
}

.menu-mobile{
	position: absolute;
	top: 88px;
	left: 0;
	transform: translateX(-100%);
	height: calc(100% - 80px);
	width: 70%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: column;
	background-color: #1a1a1a;
	color: white;
	transition: 1s;
}
.menu-mobile .menu-item{
	height: 60px;
	width: 100%;
	border-bottom: 1px solid rgb(46, 46, 46);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: 0.5s;
	padding-left: 30px;
	box-sizing: border-box;
}

.menu-mobile .menu-item:hover{
	background-color: rgb(46,46,46);
	transition: transform 0.5s ease;
}

@media (max-width:768px){ /*768*/
   li {
   	color: rgb(0, 0, 0, 255);
   	padding-top: 7px;
   	padding-left: 12px;
   }
   select {
	  color: red;
	  text-align: center;
	  background-color: None;
   }
	ul{
		display: none;
		align-items: center;
		position: absolute;
	}
	
	.mobile-menu{
		display: block;
	}
	.open{
   	transition: 0.5s;
     transform: translateX(0);
   	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);	
   }
   .form input{
   	caret-color: #2962FF;
   	text-indent: 10pt;
   	border-style: solid;
   	border-color: #0066FF;
   	border-width: 1px;	
   	border-height: 1px;
   	border-radius: 5px;
   	line-height: 40px;
   	width: 97%;
   }
   .form .button button {
   	width: 90px;
   	height: 30px;
   	color: white;
   	border-radius: 8px;
   	background-color: navy;
   }
   .download {
   	color: white;
   	align: center;
   	text-align: center;
   	border-width: 2px;
   	border-radius: 7px;
   	padding-left: 15px;
   	padding-right: 15px;
   	padding-top: 4px;
   	padding-bottom: 4px;
   	background-color: navy;
   }
   .download a{
   	color: white;
   }
   .form{
   	background-color: white;
   	padding-left: 20px;
   	padding-right: 10px;
   }
   .form textarea {
   	caret-color: #2962FF;
   	text-indent: 10pt;
   	padding-top: 7px;
   	border-style: solid;
   	border-color: #0066FF;
   	border-width: 1px;	
   	border-height: 1px;
   	border-radius: 5px;
   	line-height: 20px;
   	width: 97%;
   }
   label{
   	padding-top: 25px;
   	padding-bottom: 10px;
   }
   ol blockquote{
      color: black;
      font-size: 15px;
      margin-top: 10px;
      padding-left: 20px;
   }
   span li{
      padding-left: 30px;
      color: black;
      font-size: 15px;
      margin-top: 5px;
   }
    .span_li li{
   	  padding-left: 40px;
   	  margin-top: 40px;
   }
   #h3About{
   		color: black;
   		padding-top: 40px;
   		padding-bottom: 20px;
   }
   #copyright{
   		transform: translateY(70%);
   		padding-bottom: 40px;
   		color: white;
   }
   blockquote {
   	  padding-left: 30px;
   	  padding-right: 30px;
   }
   footer{
    	height: 40%;
    	width: 100%;
     	padding: 20px 0px 0px 0px;
     	display: block;
    	justify-content: flex-start;
    	flex-direction: column;
    	align-items: flex-end;
    	background-color: #121212;
    	box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
   }
   footer p{
	    margin-top: 20px;
	    font-size: 12px;
	    color: white;
   }
}
@media (min-width: 575px){
	 .icon{
	    width: 10%;
	    height: 25%;
	 }
   li {
	  color: rgb(0, 0, 0, 255);
	  padding-top: 7px;
	  padding-left: 12px;
	  font-size: 20px;
   }
   select{
	  color: red;
	  text-align: center;
	  background-color: None;
	  font-size: 30px;
   }
   .form{
   	background-color: white;
   	padding-left: 40px;
   	padding-right: 20px;
   }
   .form input{
   	caret-color: #2962FF;
   	text-indent: 20pt;
   	font-size: 30px;
   	border-style: solid;
   	border-color: #0066FF;
   	border-width: 1.5px;	
   	border-height: 1.5px;
   	border-radius: 10px;
   	line-height: 70px;
   	width: 97%;
   }
   .form .button {
	   padding-top: 10px;
	   background: None;
	   text-align: center;
	   text-transform: uppercase;
	   border-radius: 8px;
	   cursor: pointer;
   }
   .form .button button {
   	width: 25%;
   	height: 70px;
   	color: white;
   	font-size: 30px;
   	border-radius: 10px;
   	background-color: navy;
   }
   .download {
   	color: white;
    	align: center;
    	width: 25%;
    	height: 70px;
    	font-size: 35px;
    	text-align: center;
   	border-radius: 20px;
   	background-color: navy; /*RGB(0, 0, 255, 255);*/
   }
   .download a{
   	color: white;
   }
   .form textarea {
   	caret-color: #2962FF;
   	font-size: 18px;
   	text-indent: 20pt;
   	padding-top: 10px;
   	border-style: solid;
   	border-color: #0066FF;
   	border-width: 1.5px;	
   	border-height: 1.5px;
   	border-radius: 10px;
   	line-height: 50px;
   	width: 97%;
   }
   .menu-item{
   	font-size: 25px;
   	margin-left: 2rem;
   	cursor: pointer;
   }
   label{
   	padding-top: 60px;
   	padding-bottom: 20px;
   }
   ol blockquote{
      color: black;
      font-size: 16px;
      margin-top: 20px;
      margin-left: 10px;
   }
   span li{
      padding-left: 70px;
      color: black;
      font-size: 16px;
      margin-top: 10px;
   }
   .span_li li{
   	  padding-left: 70px;
   	  font-size: 20pt;
   	  margin-top: 70px;
   }
   #h3About{
   		color: black;
   		padding-top: 70px;
   		padding-bottom: 40px;
   		font-size: 40px;
   }
   #copyright{
   		transform: translateY(90%);
   		padding-bottom: 40px;
   		font-size: 40px;
   		color: white;
   }
   blockquote {
     	padding-left: 30px;
    	padding-right: 30px;
   }
   footer{
    	height: 40%;
    	width: 100%;
     	padding: 20px 0px 0px 0px;
     	display: block;
    	justify-content: flex-start;
    	flex-direction: column;
    	align-items: flex-end;
    	background-color: #121212;
    	box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
   }
   footer p{
	    margin-top: 50px;
	    font-size: 30px;
	    color: white;
   }
}
audio {
   	display: block;
}
.form .button {
	padding-top: 10px;
	background: None;
	text-align: center;
	text-transform: uppercase;
	border-radius: 8px;
	cursor: pointer;
}
auth {
	color:red;
}
code {
	align: center;
	padding-left: 140px;
}
p {
	color:black;
	text-align: center;
	text-indent: 20pt;
	padding-right: 30px;
}
img {
	padding-left: 0px;
	padding-right: 0px;
}
table {
	border-style:solid;
	border-color:#0066FF;
	border-width:2px;
	width: 90%;
}
tr td,tr th {
	border-style:solid;
	border-color:#0099FF;
}
#container {
	width: 97vw;
	margin: 2vw auto;
}
.text{
	margin: 30px 20px 60px 20px;
	color: teal;
	text-align: center;
}
details {
	color: teal;
	background-color: None;
	text-align: center;
}
h1,h2,h3,h4 {
	font-family: 'MR ROBOT', 'Lucida Console';
	color: teal;
	background-color: None;
	text-align: center;
}
h5 {
	color: white;
}
hr {
	align: center;
	padding-top: 5px;
	border-color: white;
}
